<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="titulo">titulo</label>
        <input
          type="text"
          name="titulo"
          id="titulo"
          required
          class="form-control"
          [(ngModel)]="livro.titulo"
        />
      </div>
      <div class="form-group">
        <label for="descricao">descricao</label>
        <input
          type="text"
          name="descricao"
          id="descricao"
          required
          class="form-control"
          [(ngModel)]="livro.descricao"
        />
      </div>
      <button (click)="saveLivro()" class="btn btn-success">Submeter</button>
      <div *ngIf="submitted">
        <h4>O livro foi removido com sucesso</h4>
        <button (click)="newLivro()" class="btn btn-success">Adicionar</button>
      </div>
    </div>
  </div>
  <div *ngIf="submitted">
    <h4>O livro foi submetido com sucesso!</h4>
    <button class="btn btn-success" (click)="newLivro()">Adicionar</button>
  </div>
</div>
